/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 07.11.2014, 16:23:27
    Author     : alef
*/

/*@import "bootstrap-themes.css";*/

@import "../lib/bs/css/bootstrap.min.css";
@import "../lib/bs/css/bootstrap-theme.min.css";
@import "fonts.css";
@import "gi.css";


@media screen {
    body{
        margin: 0px;
    }
    /*------------------------------------------------------------------------*/
    .wrapper,
    .page-header,
    .alef,
    .content
    {
        position: absolute;
    }
    /*------------------------------------------------------------------------*/
    .root{
        background-color: #FFF;
        height: 3840px;
        width: 100%;
    }


    /*------------------------------------------------------------------------*/
    .header{
        display: none;
        position: fixed;
        width: 100%;
        height: 130px;
        background-color: rgba(100%,100%,100%,0.9);
        margin: 0px;
        padding-top: 2.7%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Exo2 light','Open Sans';
        font-weight: lighter;
        color: #507C18;
        transform: rotate(0deg);
        z-index: 1000;
        box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.38);
    }
    .title{
        /*border-bottom: solid #555 1px;*/
        font-size: 70px;
        letter-spacing: 2px;
        top: 0px;
    }
    .name{
        /*border-top: solid #555 1px;*/
        font-size: 70px;
        letter-spacing: 1px;
        bottom: 0px;
    }
    /*------------------------------------------------------------------------*/
    .alef{
        right: 62%;
        top: 10px;
        width: 320px;
        height: 320px;
        margin: 0px;
        padding-top: 120px;
        letter-spacing: 3px;
        font-size: 30px;
        text-align: center;
        background-color: rgba(23, 2, 67, 1);
        color: #FEEB46;
        font-family: 'open sans';
    }

    /*------------------------------------------------------------------------*/
    .wrapper-content{
        position: absolute;
        height: 200px;
        top: 160px;
        left: 0px;
        right: 0px;
    }

    .content{
        position: relative;
        width: 100%;
        height: 700px;
        cursor: default;
        border: none;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: rgba(255, 255, 255, 1);
    }
    .content-bg{
        position: absolute;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        top: 0px;
    }

    .content:nth-child(1){
        background-image: url(../pic/pict3930_high_contrast.jpg);
    }    
    .content:nth-child(1) > .content-bg{
        background-image: 
            linear-gradient(180deg,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0.75) 100%);

    }    
    .content:nth-child(2) > .content-bg{
        background-color: #1E4592;
    }
    .content:nth-child(3){
        background-image: url(../pic/pict4019.jpg);
    }
    .content:nth-child(5){
        background-image: url(../pic/pict4271.jpg);
    }
    .content-ico{
        opacity: 0.75;
        text-align: center
    }
    .content-item{
        position: absolute;
        margin: 0px;
        padding: 0px;
        height: auto;
        width: 100%;
        background-color: transparent;
        text-align: center;
    }

    .item-title{
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans Light', 'Open Sans','Cuprum';
        font-size: 45px;
        font-weight: normal;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .item-description{
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: 30px;
        /*font-family: 'Noto Serif';*/
        /*font-family: 'Cuprum';*/
        /*font-family: 'PT Serif';*/
        /*font-family: 'Open Sans';*/
        /*font-family: 'Playfair Display';*/
        /*font-family: 'Verdana';*/
        /*font-family: 'Exo2';*/
        font-family: 'Exo2 Light';
        color: #000;
    }
    .development > .item-title,
    .development > .item-description
    {
        color: rgb(22, 39, 155);
        color: rgb(0, 0, 0);
    }
    .development > .content-ico{
        opacity: 0.75;
    }

    .layout-web > .item-title,
    .layout-web > .item-description
    {
        color: #FFF;
    }
    .layout-web > .content-ico{
        opacity: 1.0;
    }

}
@media screen and (max-width: 860px){
    .alef{
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100px;
        padding-top: 20px;
        font-size: 30px;
        text-align: center;
        background-color: rgba(23, 2, 67, 1);
    }
    .page-header{
        left: 0px;
        width: 100%;
        top: 100px;
    }
}
/*@media screen and (max-width: 600px){

}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 320px){

}*/
